body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 100px 0;
    background: #333;
    color: white;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    background-image: url('https://images.pexels.com/photos/25841505/pexels-photo-25841505/free-photo-of-people-on-horses-near-mountain-in-india.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.parallax2 {
    background-image: url('https://images.pexels.com/photos/2189696/pexels-photo-2189696.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.parallax3 {
    background-image: url('https://images.pexels.com/photos/1276518/pexels-photo-1276518.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.content {
    padding: 50px;
    background: #f4f4f4;
    color: #333;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}
